/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


global
{
	selection-color: #A0D5F6;
	roll-over-color: #D8EDFB;
	fontFamily: "微软雅黑";
	content-background-color: #FBFBFB;
	corner-radius:4;
	border-color:#70B2EE;
}
s|TabBar
{
	cornerRadius:6;
	fontFamily: "微软雅黑";
	fontSize: 12;
	skinClass:ClassReference("assets.skins.TabBarSkinEx") ;
}
mx|ToolTip 
{
	backgroundColor: black;
	backgroundAlpha: 0.9;
	color: white;
	fontSize: 16;
	fontFamily: "微软雅黑";
}
s|TitleWindow
{
	/*backgroundColor: #FBFBFB;
	borderAlpha: 0.8;
	borderColor: #FFFFFF;
	borderVisible: false;
	color: #5B5B5B;
	contentBackgroundColor: #FFFFFF;
	cornerRadius: 0;
	dropShadowVisible: true;
	focusColor: #E3F1FF;
	symbolColor: #FFFFFF;
	textAlign: center;*/
	fontSize: 12;
	horizontalAlign: center;
	skinClass:ClassReference("assets.skins.TitleWindowSkinEx" );
	cornerRadius:6;
}
s|DropDownList
{
	dropShadowVisible: false;
	skinClass:ClassReference("assets.skins.dropDownListSkinEx");
}
s|Button
{
	skinClass:ClassReference("assets.skins.buttonSkinEx");
	accentColor:#2179f1;
}
s|BorderContainer
{
	borderColor:#70B2EE;
}
s|NavigatorContent
{
	/*backgroundColor:#abfeff;
	backgroundAlpha:0;*/
}
s|DataGrid
{
	skinClass:ClassReference("assets.skins.DataGridSkinEx") ;
}
mx|NumericStepper
{
	cornerRadius:0;
}